<section class="jumbotron text-center">
  <div class="container">
    <% flash.each do |name, msg| %>
      <span class="alert"><%= msg %></span>
    <% end %>
    <h1 class="jumbotron-heading"><%= title %></h1>
    <p class="text-muted">
      Total de fotos no sistema: <%= Picture.count %><br />
      Última foto adicionada: <%= Picture.last.image_file_name %>
    </p>
  </div>
</section>
